<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <div style="display:flex;justify-content:center;align-items:center;"> <h2>系统启动成功，欢迎使用！</h2></div>
   
</body>
</html>