<main>
    <div>
        <form>
            <label>
                用户名
                <input/>
            </label>
            <label>
                密码
            </label>
        </form>
    </div>
</main>